
@{
    ViewBag.Title = "AddressBookLanding";
}

<h2>AddressBookLanding</h2>

<ul id="tab-menu">
    <li>
     @Html.ActionLink("Create Address Book Contact", "CreateAddressBookContact")
    </li>
    <li>
     @Html.ActionLink("Address Book", "AddressBookLanding")
   </li>
</ul>

